# Local model setup (Ollama)
MODEL_PROVIDER=ollama
OLLAMA_BASE_URL=http://localhost:11434
OLLAMA_MODEL=qwen3:4b # 2.5GB, 256k context, supports thinking & tools
# OLLAMA_MODEL=llama3.1:8b # Tool-calling isn't great, but 4.9GB size is quite lightweight, 128k context, supports tools, but no thinking
# OLLAMA_MODEL=qwen3:14b # Tool-calling is better, and 9.3GB size is more accessible, 40k context, supports thinking & tools
# OLLAMA_MODEL=gpt-oss:20b # Robust tool-calling, but 14GB size is restrictive, 128k context, supports thinking & tools

# Local embeddings
# EMBEDDING_MODEL=sentence-transformers/all-MiniLM-L6-v2 # very lightweight
# EMBEDDING_DIM=384
EMBEDDING_MODEL=BAAI/bge-large-en-v1.5 # good middle-ground
EMBEDDING_DIM=1024
# EMBEDDING_MODEL=BAAI/bge-m3 # more powerful, but too large
# EMBEDDING_DIM=1024

# Paths
RAW_DIR=./data/raw
PROCESSED_DIR=./data/processed
VECTORSTORE_DIR=./data/processed/vectorstore

# LangSmith Tracing (optional)
LANGSMITH_TRACING=true
LANGSMITH_API_KEY=your_langsmith_api_key
LANGSMITH_PROJECT=healthcare-assistant

