chromadb
ipykernel
jupyterlab
jupyterlab-vim
langchain
langchain-chroma
langchain-core
langchain-huggingface
langchain-ollama
langchain-text-splitters
openpyxl
pandas
pillow
pyarrow
pymupdf
pytesseract
pytest
python-dotenv
sentence-transformers
streamlit
torchvision
watchdog
